body {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto",  "Arial", sans-serif;
  color: #ffffff;
  background-color: #849d8f;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.inner-page {
  background-image: -webkit-linear-gradient(top, #9cb0a5 0, #849d8f 650px);
  background-image: -o-linear-gradient(top, #9cb0a5 0, #849d8f 650px);
  background-image: linear-gradient(to bottom, #9cb0a5 0, #849d8f 650px);
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: -webkit-radial-gradient(center 358px, circle, #cff6e1, transparent 523px);
  background-image: -o-radial-gradient(center 358px, circle, #cff6e1, transparent 523px);
  background-image: radial-gradient(circle at center 358px, #cff6e1, transparent 523px);
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: -webkit-radial-gradient(center 326px, circle, #d6ebfc, transparent 533px);
  background-image: -o-radial-gradient(center 326px, circle, #d6ebfc, transparent 533px);
  background-image: radial-gradient(circle at center 326px, #d6ebfc, transparent 533px);
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: -webkit-radial-gradient(center 314px, circle, #fae4db, transparent 540px);
  background-image: -o-radial-gradient(center 314px, circle, #fae4db, transparent 540px);
  background-image: radial-gradient(circle at center 314px, #fae4db, transparent 540px);
} 

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 9px;
}

.main-header-logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 154px;
  height: 64px;
  margin-right: 11px;
}

.main-header-logo:focus {
  outline: 2px solid #ffffff;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-width: 410px;
  margin: 14px 0 0;
  padding: 0;
  list-style: none;
}

.site-navigation-item {
  position: relative;
  padding: 0 0 10px 0;
}

.site-navigation-item > a {
  display: block;
  margin-bottom: 5px;
  padding: 7px 13px 6px 14px;
  line-height: 18px;
  color: #ffffff;
  background-image: -webkit-linear-gradient(bottom, transparent 1px, rgba(255, 255, 255, 0.2) 1px, rgba(255, 255, 255, 0.2) 2px, transparent 2px);
  background-image: -o-linear-gradient(bottom, transparent 1px, rgba(255, 255, 255, 0.2) 1px, rgba(255, 255, 255, 0.2) 2px, transparent 2px);
  background-image: linear-gradient(to top, transparent 1px, rgba(255, 255, 255, 0.2) 1px, rgba(255, 255, 255, 0.2) 2px, transparent 2px);
  background-repeat: no-repeat;
  background-origin: content-box;
}

.site-navigation-current > a {
  color: #ffffff;
  background-color: #d07058;
  background-image: none;
  border-radius: 16px;
}

.site-navigation-item:hover > a,
.site-navigation-item > a:focus {
  color: #323232;
  background-color: #f7f6f3;
  background-image: none;
  border-radius: 16px;
  outline: none;
}

.site-navigation-item > a:active {
  color: #323232;
  background-color: #ededed;
  background-image: none;
  border-radius: 16px;
  -webkit-box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
  box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
}

.catalog-submenu {
  position: absolute;
  left: -7px;
  z-index: 1;
  display: none;
  margin: 0;
  padding: 3px 0 8px;
  list-style: none; 
  background-color: #f8f7f4;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  overflow: hidden;
}

.site-navigation-item:hover .catalog-submenu {
  display: block;
}

.catalog-submenu li {
  padding: 3px 0 0 0;
}

.catalog-submenu .new-product {
  position: relative;

  padding-bottom: 7px;
}

.catalog-submenu .new-product::after {
  content: "";
  position: absolute;
  right: 9px;
  bottom: 0;
  left: 6px;
  height: 1px;
  background-color: #d1d0ce;
}

.catalog-submenu a {
  display: block;
  min-width: 103px;
  padding: 6px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.new-product a {
  font-weight: 700;
}

.catalog-submenu a:hover,
.catalog-submenu a:focus {
  background-color: #fbded7;
  outline: none;
}

.catalog-submenu a:active {
  background-color: #f6b5a5;
}

.catalog-submenu-current a,
.catalog-submenu-current a:hover,
.catalog-submenu-current a:focus,
.catalog-submenu-current a:active {
  color: #ffffff;
  background-color: #d07058;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  min-width: 267px;
  margin: 13px 0 0 auto;
  padding: 0;
  list-style: none;
}

.user-navigation-item {
  position: relative;
  padding: 0 0 10px;
}

.user-navigation-item > a {
  position: relative;
  display: block;
  padding: 8px 17px 8px 44px;
  margin-bottom: 4px;
  margin-left: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
}

.user-navigation-item:hover > a:not(.user-cart),
.user-navigation-item > a:not(.user-cart):focus {
  color: #323232;
  background-color: #f8f7f4;
  outline: none;
}

a.user-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 33px;
  height: 33px;
  padding: 0;
  border-radius: 50%;
}

.user-navigation-item:hover path,
.user-search:focus path {
  fill: #323232;
}

.search-form {
  position: absolute;
  right: 0;
  z-index: 1;
  display: none;
  width: 311px;
  padding: 20px 15px 22px;
  background-color: #f8f7f4;
  border-radius: 6px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.user-navigation-item:hover .search-form {
  display: block;
}

.search-form input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  padding: 8px 15px 8px 13px;
  font: inherit;
  font-weight: 700;
  line-height: 24px;
  color: #323232;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px #d3d3d2;
  box-shadow: 0 0 0 1px #d3d3d2;
}

.search-form input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #999999;
}

.search-form input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #999999;
}

.search-form input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #999999;
}

.search-form input:hover {
  border: 1px solid #c7c6c5;
  -webkit-box-shadow: 0 0 0 1px #c7c6c5;
  box-shadow: 0 0 0 1px #c7c6c5;
}

.search-form input:focus {
  border: 1px solid #8fbdec;
  -webkit-box-shadow: 0 0 0 1px #8fbdec;
  box-shadow: 0 0 0 1px #8fbdec;
  outline: none;
}

.user-login svg {
  position: absolute;
  top: 6px;
  left: 16px;
}

.user-login:focus path {
  fill: #323232;
}

.login-form {
  position: absolute;
  right: -2px;
  z-index: 1;
  display: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 240px;
  padding: 20px 17px 22px 20px;
  background-color: #f8f7f4;
  border-radius: 6px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.user-navigation-item:hover .login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-field {
  width: 100%;
  margin: 0 0 22px 0;
}

.login-form input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  padding: 8px 15px 8px 13px;
  font: inherit;
  font-weight: 700;
  line-height: 24px;
  color: #323232;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px #d3d3d2;
  box-shadow: 0 0 0 1px #d3d3d2;
}

.login-form input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #999999;
}

.login-form input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #999999;
}

.login-form input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #999999;
}

.login-form input:hover {
  border: 1px solid #c7c6c5;
  -webkit-box-shadow: 0 0 0 1px #c7c6c5;
  box-shadow: 0 0 0 1px #c7c6c5;
}

.login-form input:focus {
  border: 1px solid #8fbdec;
  -webkit-box-shadow: 0 0 0 1px #8fbdec;
  box-shadow: 0 0 0 1px #8fbdec;
  outline: none;
}

.login-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin: 0 0 2px;
  padding: 0 3px 0 4px;
}

.login-link a {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #323232;
  background-image: -webkit-linear-gradient(bottom, transparent 4px, rgba(0, 0, 0, 0.3) 4px, rgba(0, 0, 0, 0.3) 5px, transparent 5px);
  background-image: -o-linear-gradient(bottom, transparent 4px, rgba(0, 0, 0, 0.3) 4px, rgba(0, 0, 0, 0.3) 5px, transparent 5px);
  background-image: linear-gradient(to top, transparent 4px, rgba(0, 0, 0, 0.3) 4px, rgba(0, 0, 0, 0.3) 5px, transparent 5px);
  background-repeat: no-repeat;
  background-origin: content-box;
}

.login-link a:hover, 
.login-link a:focus,
.login-link a:active {
  color: #e84d37;
  background-image: -webkit-linear-gradient(bottom, transparent 4px,  rgba(236, 89, 60, 0.3) 4px,  rgba(236, 89, 60, 0.3) 5px, transparent 5px);
  background-image: -o-linear-gradient(bottom, transparent 4px,  rgba(236, 89, 60, 0.3) 4px,  rgba(236, 89, 60, 0.3) 5px, transparent 5px);
  background-image: linear-gradient(to top, transparent 4px,  rgba(236, 89, 60, 0.3) 4px,  rgba(236, 89, 60, 0.3) 5px, transparent 5px);
  outline: none;
}

.button {
  display: block;
  padding: 10px 25px;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background-color: #ec593c;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(231, 74, 53)), to(rgb(242, 104, 67)));
  background-image: -webkit-linear-gradient(bottom, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image: -o-linear-gradient(bottom, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image: linear-gradient(to top, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  border: none;
  border-radius: 22px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #fefefe;
  background-color: #f07a63;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(236, 111, 94)), to(rgb(245, 134, 105)));
  background-image: -webkit-linear-gradient(bottom, rgb(236, 111, 94) 0%, rgb(245, 134, 105) 100%);
  background-image: -o-linear-gradient(bottom, rgb(236, 111, 94) 0%, rgb(245, 134, 105) 100%);
  background-image: linear-gradient(to top, rgb(236, 111, 94) 0%, rgb(245, 134, 105) 100%);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 1);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 1);
  outline: none;
}

.button:active {
  color: #fceeec;
  background-color: #db5338;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(215, 69, 49)), to(rgb(225, 97, 62)));
  background-image: -webkit-linear-gradient(top, rgb(215, 69, 49) 0%, rgb(225, 97, 62) 100%);
  background-image: -o-linear-gradient(top, rgb(215, 69, 49) 0%, rgb(225, 97, 62) 100%);
  background-image: linear-gradient(to bottom, rgb(215, 69, 49) 0%, rgb(225, 97, 62) 100%);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
}

.user-cart {
  position: relative;
}

.user-cart:focus {
  outline: 2px solid #ffffff;
}

.user-cart::before {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 16px;
  width: 21px;
  height: 20px;
  background-image: url("../img/icon_cart_empty.svg");
  background-repeat: no-repeat;
  background-position: center;
}

a.user-cart-full {
  color: #323232;
  background-color: #f7f6f3;
}

.user-cart-full::before {
  background-image: url("../img/icon_cart_full.svg");
}

.cart-view {
  position: absolute;
  right: 0;
  z-index: 1;
  display: none; 
  width: 513px;
  padding: 18px 12px 23px 15px;
  text-align: right;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.user-navigation-item:hover .cart-view {
  display: block;
}

.cart-list {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: left;
  border-collapse: collapse;
}

.cart-item td {
  padding: 0 10px 15px;
}

.cart-item:nth-child(2) td {
  padding-bottom: 22px;
}

.cart-list .cart-item-delete {
  padding-right: 0;
  padding-left: 0;
}

.cart-item-delete button {
  position: relative;
  width: 22px;
  height: 22px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-item-delete button::before,
.cart-item-delete button::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 0px;
  width: 15px;
  height: 1px;
  background-color: #231f20;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cart-item-delete button::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cart-list .cart-item-image {
  width: 43px;
  padding-right: 0;
  padding-left: 0;

  text-align: center;
}

.cart-item-image img{
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

td.cart-item-title {
  padding-left: 8px;
}

tr.cart-item:nth-child(2) .cart-item-title {
  padding-bottom: 15px;

  vertical-align: bottom;
}

td.cart-item-quantity {
  min-width: 100px;
  padding: 0 8px 15px 12px;
  text-align: center;
}

td.cart-item-total {
  min-width: 65px;
  padding-right: 13px;
  text-align: center;
}

.cart-list .table-light {
  color: #999999;
}

.cart-list .cart-total {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  border-top: 1px solid #cacac7;
}

.cart-total td {
  padding-top: 14px;
  padding-right: 0;
  padding-bottom: 13px;
  text-align: right;
}

.cart-view .button {
  display: inline-block;
  padding-right: 16px;
  padding-left: 15px;
  vertical-align: bottom;
}

.header-info {
  position: relative;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
}

.header-phone {
  position: absolute;
  right: 0;
  bottom: -25px;
  font-size: 22px;
  line-height: 24px;
  text-align: right;
}

.slider-wrapper {
  position: relative; 
  z-index: 0;
}

.sliders-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  position: relative;
  display: none;
  padding: 300px 250px 0;
  text-align: center;
}

.slider-item:first-child {
  padding: 300px  235px 0;
}

#product-1:checked ~ .site-wrapper .slider-item:nth-child(1),
#product-2:checked ~ .site-wrapper .slider-item:nth-child(2),
#product-3:checked ~ .site-wrapper .slider-item:nth-child(3) {
  display: block;
}

.slider-title {
  padding: 0;
  margin: 0 0 30px;
  font-size: 60px;
  line-height: 60px;
}

.slider-image {
  position: absolute;
  top: -10px;
  left: 247px;
  z-index: -1;
  margin: 0;
}

.slider-item:first-child .slider-image {
  left: 250px;
}

.slider-image img {
  width: 647px;
  height: 584px;
}

.slider-button {
  display: inline-block;
  margin-bottom: 40px;
  padding: 9px 41px 11px;
  font-size: 32px;
  line-height: 44px;
  vertical-align: bottom;
  color: #ffffff;
  background-color: #ec593c;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(231, 74, 53)), to(rgb(242, 104, 67)));
  background-image: -webkit-linear-gradient(bottom, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image: -o-linear-gradient(bottom, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image: linear-gradient(to top, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  border-radius: 32px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.slider-button:hover,
.slider-button:focus {
  background-color: #f07a63;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(236, 111, 94)), to(rgb(245, 134, 105)));
  background-image: -webkit-linear-gradient(bottom, rgb(236, 111, 94) 0%, rgb(245, 134, 105) 100%);
  background-image: -o-linear-gradient(bottom, rgb(236, 111, 94) 0%, rgb(245, 134, 105) 100%);
  background-image: linear-gradient(to top, rgb(236, 111, 94) 0%, rgb(245, 134, 105) 100%);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
  outline: none;
}

.slider-button:active {
  background-color: #db5338;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(225, 97, 62)), to(rgb(215, 70, 50)));
  background-image: -webkit-linear-gradient(bottom, rgb(225, 97, 62) 0%, rgb(215, 70, 50) 100%);
  background-image: -o-linear-gradient(bottom, rgb(225, 97, 62) 0%, rgb(215, 70, 50) 100%);
  background-image: linear-gradient(to top, rgb(225, 97, 62) 0%, rgb(215, 70, 50) 100%);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide-control {
  width: 17px;
  height: 17px;
  margin-right: 8px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:focus ~ .site-wrapper label[for="product-1"],
#product-2:focus ~ .site-wrapper label[for="product-2"],
#product-3:focus ~ .site-wrapper label[for="product-3"] {
  outline: 2px solid #ffffff;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.slide-control:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.slide-control:active {
  background-color: #ffffff;
}

.index-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.promo-list {
  position: relative;
  z-index: 1;
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  list-style: none;
}

.promo-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 520px;
  padding: 15px 20px 24px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
}

.promo-raspberry {
  background-color: #78172b;
  background-image: url("../img/rasberry.jpg");
  background-size: cover;
}

.promo-chocolate {
  background-color: #472c1f;
  background-image: url("../img/chocolate_chips.jpg");
  background-size: cover;
}

.promo-title {
  margin: 0 0 15px 0;
  font-size: 35px;
  line-height: 41px;
}

.promo-description {
  margin: 0 0 45px 0;
  font-size: 18px;
}

.promo-item .button {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.promo-raspberry .button {
  padding: 10px 23px 11px;
}

.promo-chocolate .button {
  padding: 10px 22px 11px;
}

.bestsellers {
  margin-bottom: 7px;
}

.bestsellers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 267px;
  margin-right: 26px;
  margin-bottom: 20px;
  padding-top: 7px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item:hover {
  z-index: 1;
}

.catalog-item-title {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin: 0 0 10px 0;
  padding: 0 5px;
  font-size: 16px;
  text-align: center;
}

.catalog-item-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: -13px;
  z-index: -1;
  display: none;
  width: 293px;
  height: 405px;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.catalog-item:hover .catalog-item-title::before {
  display: block;
}

.catalog-item-title a {
  font-weight: 500;
  color: #ffffff;
  background-image: -webkit-linear-gradient(bottom,  rgba(255, 255, 255, 0.2) 0px, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-image: -o-linear-gradient(bottom,  rgba(255, 255, 255, 0.2) 0px, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-image: linear-gradient(to top,  rgba(255, 255, 255, 0.2) 0px, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
}

.catalog-item-title a:hover,
.catalog-item-title a:focus,
.catalog-item-title a:active {
  color: #ffbc9e;
  background-image: -webkit-linear-gradient(bottom,  rgba(249, 172, 159, 0.3) 0px, rgba(249, 172, 159, 0.3) 1px, transparent 1px);
  background-image: -o-linear-gradient(bottom,  rgba(249, 172, 159, 0.3) 0px, rgba(249, 172, 159, 0.3) 1px, transparent 1px);
  background-image: linear-gradient(to top,  rgba(249, 172, 159, 0.3) 0px, rgba(249, 172, 159, 0.3) 1px, transparent 1px);
} 

.catalog-item-title a:focus {
  outline: none;
}

.catalog-item-image {
  position: relative;

  margin: 0 0 7px 0;
}

.bestsellers-list .catalog-item-image::after {
  content: "";
  position:absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-item-image img {
  width: 267px;
  height: 267px;
  border-radius: 50%;
}

.catalog-item-price {
  position: absolute;
  top: 215px;
  left: 0;
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-price .weight {
  font-size: 30px;
}

.button-preview {
  position: absolute;
  bottom: -43px;
  left: 33px;
  display: none; 
  padding: 9px 17px 11px;
  padding-left: 18px;
}

.catalog-item:hover .button-preview {
  display: block;
}

.features {
  padding: 25px 20px 23px 20px;
  margin-bottom: 40px;
  color: #323232;
  background-color: #eee1c6;
  background-image: url("../img/waffle_background.jpg");
  background-repeat: repeat;
  border-radius: 16px;
}

.features p {
  margin: 0; 
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  position: relative;
  width: 482px;
  padding-top: 20px;
  padding-bottom: 2px;
  padding-left: 57px;
  font-weight: 400;
}

.feature-item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
  background-position: center;
}

.feature-item-fabrication::before {
  background-image: url("../img/ice-cream.svg");
}

.feature-item-provider::before {
  background-image: url("../img/cow.svg");
}

.feature-item-ingredient::before {
  background-image: url("../img/leaf.svg");
}

.feature-item-delivery::before {
  background-image: url("../img/thermometer.svg");
}

.new-post {
  width: 520px;
  padding: 23px 20px 25px;
  background-color: #ffffff;
  background-image: url("../img/strawberry_background.jpg");
  background-position: right 0 top 0;
  background-size: cover;
  border-radius: 16px;
}

.new-post p {
  margin: 0 0 4px;
  font-weight: 500;
  color: #323232;
}

.new-post-title {
  width: 285px;
  margin: 0;
}

.new-post-title a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  background-image: -webkit-linear-gradient(bottom, transparent 2px, #353535 2px, #353535 4px, transparent 4px);
  background-image: -o-linear-gradient(bottom, transparent 2px, #353535 2px, #353535 4px, transparent 4px);
  background-image: linear-gradient(to top, transparent 2px, #353535 2px, #353535 4px, transparent 4px);
}

.new-post-title a:hover,
.new-post-title a:focus,
.new-post-title a:active {
  color: #e84d37;
  background-image: -webkit-linear-gradient(bottom, transparent 2px,  rgba(236, 89, 60, 0.3) 2px,  rgba(236, 89, 60, 0.3) 4px, transparent 4px);
  background-image: -o-linear-gradient(bottom, transparent 2px,  rgba(236, 89, 60, 0.3) 2px,  rgba(236, 89, 60, 0.3) 4px, transparent 4px);
  background-image: linear-gradient(to top, transparent 2px,  rgba(236, 89, 60, 0.3) 2px,  rgba(236, 89, 60, 0.3) 4px, transparent 4px);
  outline: none;
}
.subscription {
  position: relative;
  z-index: 0;
  width: 508px;
  padding: 18px 25px 40px 27px;
  font-weight: 400;
  color: #5a5a5a;
  background-color: #f8f7f4;
  background-image: -webkit-repeating-linear-gradient(315deg, #fe9e90 0px, #fe9e90 2px, #f8f7f4 2px, #f8f7f4 9px, #92cdff 9px, #92cdff 16px, #f8f7f4 16px, #f8f7f4 22px, #fe9e90 22px, #fe9e90 27px);
  background-image: -o-repeating-linear-gradient(315deg, #fe9e90 0px, #fe9e90 2px, #f8f7f4 2px, #f8f7f4 9px, #92cdff 9px, #92cdff 16px, #f8f7f4 16px, #f8f7f4 22px, #fe9e90 22px, #fe9e90 27px);
  background-image: repeating-linear-gradient(135deg, #fe9e90 0px, #fe9e90 2px, #f8f7f4 2px, #f8f7f4 9px, #92cdff 9px, #92cdff 16px, #f8f7f4 16px, #f8f7f4 22px, #fe9e90 22px, #fe9e90 27px);
  border-radius: 16px;
}

.subscription::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  z-index: -1;
  background-color: #f8f7f4;
  border-radius: 16px;
}

.subscription-inner p {
  margin: 0;
}

.subscription-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 35px;
}

.subscription-form input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 366px;
  height: 42px;
  padding: 8px 15px 8px 13px;
  font: inherit;
  font-weight: 700;
  line-height: 24px;
  color: #323232;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px #d3d3d2;
  box-shadow: 0 0 0 1px #d3d3d2;
}

.subscription-form input:hover {
  border: 1px solid #c7c6c5;
  -webkit-box-shadow: 0 0 0 1px #c7c6c5;
  box-shadow: 0 0 0 1px #c7c6c5;
}

.subscription-form input:focus {
  border: 1px solid #8fbdec;
  -webkit-box-shadow: 0 0 0 1px #8fbdec;
  box-shadow: 0 0 0 1px #8fbdec;
  outline: none;
}

.subscription-form input::-webkit-input-placeholder{
  font-weight: 400;
  color: #999999;
}

.subscription-form input::-moz-placeholder{
  font-weight: 400;
  color: #999999;
}

.subscription-form input:-ms-input-placeholder{
  font-weight: 400;
  color: #999999;
}

.subscription-form .button {
  padding-right: 20px;
  padding-left: 20px;
}

.map-and-contacts {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.map-and-contacts iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}

.map {
  margin: 0;
}

.map img {
  width: 1200px;
  height: 430px;
}

.contacts {
  position: absolute;
  top: 62px;
  right: 27px;
  width: 251px;
  padding: 30px 25px 30px 26px;
  color: #323232;
  background-color: #ffffff;
  border-radius: 15px;
}

.contacts dl {
  margin: 0;
  padding-bottom: 5px;
}

.contacts dt {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.contacts dt:first-child {
  padding-right: 100px;
}

.contacts dd + dt {
  margin-bottom: 4px;
}

.contacts dd {
  margin: 0 0 19px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts .contacts-note {
  display: block;
  margin-top: 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.contacts .contacts-feedback {
  display: block;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 6px 0 5px 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs li:not(:last-child)::after {
  content: "»";
  position: absolute;
  top: 0px;
  right: -14px;
}

.breadcrumbs a {
  color: #ffffff;
  background-image: -webkit-linear-gradient(bottom, transparent 1px, rgba(255, 255, 255, 0.2) 1px, rgba(255, 255, 255, 0.2) 2px, transparent 2px);
  background-image: -o-linear-gradient(bottom, transparent 1px, rgba(255, 255, 255, 0.2) 1px, rgba(255, 255, 255, 0.2) 2px, transparent 2px);
  background-image: linear-gradient(to top, transparent 1px, rgba(255, 255, 255, 0.2) 1px, rgba(255, 255, 255, 0.2) 2px, transparent 2px);
  background-repeat: no-repeat;
  background-origin: content-box;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
  background-image: -webkit-linear-gradient(bottom, transparent 1px, rgba(249, 172, 159, 0.3) 1px, rgba(249, 172, 159, 0.3) 2px, transparent 2px);
  background-image: -o-linear-gradient(bottom, transparent 1px, rgba(249, 172, 159, 0.3) 1px, rgba(249, 172, 159, 0.3) 2px, transparent 2px);
  background-image: linear-gradient(to top, transparent 1px, rgba(249, 172, 159, 0.3) 1px, rgba(249, 172, 159, 0.3) 2px, transparent 2px);
}

.breadcrumbs a:focus {
  outline: 2px solid #ffffff;
}

.breadcrumbs-current a,
.breadcrumbs-current a:hover,
.breadcrumbs-current a:focus,
.breadcrumbs-current a:active {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background-image: none;
}

.page-title {
  margin: 0 0 24px 0;
  font-size: 35px;
  line-height: 41px;
}

.filters-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 34px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filter-sorting {
  margin: 0;
  margin-right: 15px;
}

.filter-sorting label {
  display: block;
  margin-bottom: 5px;
  padding-left: 17px;
}

.select-container {
  position: relative;
  display: inline-block;
  padding: 0 14px 0 0;
  vertical-align: bottom;
  border-radius: 18px;
  overflow: hidden;
}

.filters-form select {
  width: 160%;
  padding: 8px 0 8px 12px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff; 
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 18px;
}

.filters-form select:hover, 
.filters-form select:focus {
  color: #323232;
  outline: none;
}

.filters-form select:focus-within {
  color: #323232;
  background-color: #ffffff;
  outline:none;
}

.select-container::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 15px;
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid #ffffff;
  border-right: 5px solid transparent;
  border-bottom: none;
  border-left: 5px solid transparent;
}

.select-container:hover::after {
  border-top-color: #323232;
}

.select-container:focus-within::after {
  border-top-color: #323232;
}

.filter-price {
  margin-right: 15px;
}

.price-controls {
  margin: 0;
  margin-bottom: 5px;
  padding-left: 16px;
}

.price-controls input {
  width: 28px;
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}

.price-controls input:focus {
  outline: 2px solid #ffffff;
}

.range-controls {
  position: relative;
  width: 176px;
  padding: 16px 22px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
}

.range-controls .scale {
  width: 100%;
  height: 4px;
  background-color: rgba(248, 247, 244, 0.5)
}

.range-controls .bar {
  width: 107px;
  height: 4px;
  margin-left: 16px;
  background-color: rgb(248, 247, 244);
}

.range-toggle {
  position: absolute;
  top: 8px;
  display: block;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 4px;
  height: 4px;
  padding: 0;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:focus {
  outline: 2px solid #ffffff;
}

.range-toggle-min {
  left: 34px;
}

.range-toggle-max {
  left: 132px;
}

.filters-form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-fat legend {
  margin-bottom: 5px;
  padding-left: 14px;
}

.filter-fat ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
}

.filter-fat li {
  padding: 0 5px;
}

.filter-fat li:last-child {
  padding-right: 8px;
}

.filter-fat label {
  position: relative;
  display: block;
  padding: 9px 5px 9px 37px;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
}

label[for="fat-max"] {
  padding: 9px 9px 9px 33px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 14px;
  height: 14px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  opacity: 0.8;
}

.filter-input-radio + label[for="fat-max"]::before {
  left: 2px;
}

.filter-input-radio + label:hover::before,
.filter-input-radio:focus + label::before {
  opacity: 1;
}

.filter-input-radio:disabled + label::before {
  opacity: 0.4;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.8;
}

.filter-input-radio:checked + label[for="fat-max"]::after {
  left: 9px;
}

.filter-input-radio:checked + label:hover::after,
.filter-input-radio:checked:focus + label::after {
  opacity: 1;
}

.filter-input-radio:checked:disabled + label::after {
  opacity: 0.4;
}

.filters-form .filter-addition {
  margin-top: 17px;
}

.filter-addition legend {
  margin-bottom: 5px;
  padding-left: 16px;
}

.filter-addition ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 19px;
}

.filter-addition li {
  padding: 0 1px 0 9px;
}

.filter-addition li:last-child {
  padding-right: 11px;
}

.filter-addition label {
  position: relative;
  display: block;
  padding: 9px 5px 9px 39px;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
}

.filter-input-checkbox:not(:checked) + label::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 7px;
  width: 16px;
  height: 16px;
  border: 2px solid #ffffff;
  border-radius: 3px;
  opacity: 0.8;
}

.filter-input-checkbox:not(:checked) + label:hover::before,
.filter-input-checkbox:not(:checked):focus + label::before {
  opacity: 1;
}

.filter-input-checkbox:not(:checked):disabled + label::before {
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 7px;
  width: 23px;
  height: 20px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.8;
}

.filter-input-checkbox:checked + label:hover::before,
.filter-input-checkbox:checked:focus + label::before {
  opacity: 1;
}

.filter-input-checkbox:checked:disabled + label::before {
  opacity: 0.4;
}

.filter-button {
  margin-left: 15px;
  padding: 9px 30px;
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 22px;
  -webkit-box-shadow: inset 0 0 0 2px  #fbfcfb;
  box-shadow: inset 0 0 0 2px  #fbfcfb;
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;
  background-color: #fbfcfb;
  outline: none;
}

.filter-button:active {
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 52px 0;
  padding: 0;
  list-style: none;
}

.catalog-pagination {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0 23px 30px 0;
  padding: 0;
  list-style: none;
}

.catalog-pagination li {
  padding-left: 3px;
}

.catalog-pagination li:last-child {
  position: absolute;
  right: -30px;
}

.catalog-pagination a {
  display: block;
  width: 26px;
  height: 26px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  border-radius: 50%;
}

.catalog-pagination a:hover,
.catalog-pagination a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.catalog-pagination a:focus {
  outline: 2px solid #ffffff;
}

.catalog-pagination a:active {
  color: #323232;
  background-color: #ffffff;
}

.pagination-arrows {
  position: relative;
}

.pagination-arrows::before {
  content: "";
  position: absolute;
  top: 9px;
  right: 8px;
  width: 7px;
  height: 7px;
  border: 1px solid #ffffff;
  border-top-style: none;
  border-right-style: none;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.pagination-next::before {
  right: 10px;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.pagination-arrows:active::before {
  border-color: #323232;
}

.catalog-pagination-current a {
  color: #323232;
  background-color: #ffffff;
}

.catalog-pagination-current a:hover,
.catalog-pagination-current a:focus,
.catalog-pagination-current a:active {
  color: #323232;
  background-color: #ffffff;
}

.catalog-pagination-disabled a::before {
  border-color: rgba(255, 255, 255, 0.2);
}

.catalog-pagination-disabled a:hover,
.catalog-pagination-disabled a:focus, 
.catalog-pagination-disabled a:active {
  background: none;
  outline: none;
  cursor: default;
}

.catalog-pagination-disabled a:active::before {
  border-color: rgba(255, 255, 255, 0.2);
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-top: 13px;
  padding-bottom: 28px;
}

.main-footer a {
  color: #ffffff;
}

.main-footer a:focus {
  outline: 2px solid #ffffff;
}

.main-footer a:active {
  outline-width: 0;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social li {
  margin-right: 11px;
}

.social-button svg {
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-button:hover svg,
.social-button:focus svg,
.social-button:active svg {
  border-color: rgba(255, 255, 255, 0.7);
}

.social-button path {
  fill: rgba(255, 255, 255, 0.8);
}

.social-button:hover path,
.social-button:focus path {
  fill: rgb(255, 255, 255);
}

.social-button:active path {
  fill: #e9e9e9; 
}

.social-button path:active {
  fill: #e9e9e9; 
}

.footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 365px;
  margin: 0;
  padding: 0 0 5px;
  list-style: none;
}

.footer-navigation li:nth-child(odd) {
  width: 120px;
  padding-left: 29px;
  margin-right: 22px;
}

.footer-navigation li:nth-child(even) {
  width: 172px;
}

.for-provider {
  position: relative;
}

.for-provider::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 6px;
  width: 16px;
  height: 16px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-navigation a {
  display: inline-block;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  vertical-align: bottom;
  background-image: -webkit-linear-gradient(bottom, transparent 1px, rgba(255, 255, 255, 0.2) 1px, rgba(255, 255, 255, 0.2) 2px, transparent 2px);
  background-image: -o-linear-gradient(bottom, transparent 1px, rgba(255, 255, 255, 0.2) 1px, rgba(255, 255, 255, 0.2) 2px, transparent 2px);
  background-image: linear-gradient(to top, transparent 1px, rgba(255, 255, 255, 0.2) 1px, rgba(255, 255, 255, 0.2) 2px, transparent 2px);
  background-repeat: no-repeat;
  background-origin: content-box;
}

.for-provider a {
  font-weight: 700;
}

.footer-navigation a:hover,
.footer-navigation a:focus,
.footer-navigation a:active {
  color: #ffbc9e;
  background-image: -webkit-linear-gradient(bottom, transparent 1px, rgba(249, 172, 159, 0.3) 1px, rgba(249, 172, 159, 0.3) 2px, transparent 2px);
  background-image: -o-linear-gradient(bottom, transparent 1px, rgba(249, 172, 159, 0.3) 1px, rgba(249, 172, 159, 0.3) 2px, transparent 2px);
  background-image: linear-gradient(to top, transparent 1px, rgba(249, 172, 159, 0.3) 1px, rgba(249, 172, 159, 0.3) 2px, transparent 2px);
}

.footer-copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright > a {
  display: block;
  padding-left: 2px;
}

.footer-copyright img {
  width: 108px
  height: 37px;
}

.copyright-htmlacademy {
  margin: 0;
}

.copyright-htmlacademy a {
  display: inline-block;
  vertical-align: bottom;
  background-image: -webkit-linear-gradient(bottom, transparent 1px, rgba(255, 255, 255, 0.2) 1px, rgba(255, 255, 255, 0.2) 2px, transparent 2px);
  background-image: -o-linear-gradient(bottom, transparent 1px, rgba(255, 255, 255, 0.2) 1px, rgba(255, 255, 255, 0.2) 2px, transparent 2px);
  background-image: linear-gradient(to top, transparent 1px, rgba(255, 255, 255, 0.2) 1px, rgba(255, 255, 255, 0.2) 2px, transparent 2px);
  background-repeat: no-repeat;
  background-origin: content-box;
}

.copyright-htmlacademy a:hover,
.copyright-htmlacademy a:focus,
.copyright-htmlacademy a:active {
  color: #ffbc9e;
  background-image: -webkit-linear-gradient(bottom, transparent 1px, rgba(249, 172, 159, 0.3) 1px, rgba(249, 172, 159, 0.3) 2px, transparent 2px);
  background-image: -o-linear-gradient(bottom, transparent 1px, rgba(249, 172, 159, 0.3) 1px, rgba(249, 172, 159, 0.3) 2px, transparent 2px);
  background-image: linear-gradient(to top, transparent 1px, rgba(249, 172, 159, 0.3) 1px, rgba(249, 172, 159, 0.3) 2px, transparent 2px);
}

@-webkit-keyframes emerging {
  0% {
    -webkit-transform: translateY(-400px) scale(0);
    transform: translateY(-400px) scale(0);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes emerging {
  0% {
    -webkit-transform: translateY(-400px) scale(0);
    transform: translateY(-400px) scale(0);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes swing {
  40% {
    -webkit-transform: translateY(-150px) scale(0.7);
    transform: translateY(-150px) scale(0.7);
  }

  100% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
}

@keyframes swing {
  40% {
    -webkit-transform: translateY(-150px) scale(0.7);
    transform: translateY(-150px) scale(0.7);
  }

  100% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes disappearing {
  100% {
    -webkit-transform: translateY(-400px) scale(0);
    transform: translateY(-400px) scale(0);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes disappearing {
  100% {
    -webkit-transform: translateY(-400px) scale(0);
    transform: translateY(-400px) scale(0);
    opacity: 0;
    visibility: hidden;
  }
}

.modal-feedback {
  position: fixed;
  top: 338px;
  left: 50%;
  z-index: 1;
  display: none;
  width: 428px;
  margin-left: -239px;
  padding: 18px 25px;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 10px;
}

.modal-show {
  display: block;
  -webkit-animation: emerging 0.8s;
  animation: emerging 0.8s;
}

.modal-error {
  -webkit-animation: swing 0.8s;
  animation: swing 0.8s;
}

.modal-closing {
  display: block;
  -webkit-animation: disappearing 0.8s;
  animation: disappearing 0.8s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.modal-feedback > p {
  margin: 0;
  margin-bottom: 17px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.feedback-field {
  margin: 0;
  margin-bottom: 22px;
}

.feedback-form input,
.feedback-form textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px 15px 7px 13px;
  font: inherit;
  font-weight: 700;
  line-height: 24px;
  color: #323232;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px #d3d3d2;
  box-shadow: 0 0 0 1px #d3d3d2;
}

.feedback-form input {
  width: 267px;
  height: 42px;
}

.feedback-form textarea {
  width: 100%;
  height: 155px;
  margin-bottom: 25px;
}

.feedback-form input::-webkit-input-placeholder,
.feedback-form textarea::-webkit-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.feedback-form input::-moz-placeholder, 
.feedback-form textarea::-moz-placeholder {
  font-weight: 400;
  color: #999999;
}

.feedback-form input:-ms-input-placeholder, 
.feedback-form textarea:-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border: 1px solid #c7c6c5;
  -webkit-box-shadow: 0 0 0 1px #c7c6c5;
  box-shadow: 0 0 0 1px #c7c6c5;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border: 1px solid #8fbdec;
  -webkit-box-shadow: 0 0 0 1px #8fbdec;
  box-shadow: 0 0 0 1px #8fbdec;
  outline: none;
}

.feedback-form .button {
  margin-left: auto;
  margin-bottom: 10px;
  padding: 10px 24px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 4px;
  width: 22px;
  height: 2px;
  background-color: #231f20;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none; 
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.overlay-show {
  display: block;
}